<?xml version="1.0" encoding="utf-8"?>
<manifest package="ua.com.adr.android.tasklist"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="ua.com.adr.android.tasklist.objects.AppContext"
        >
        <activity
            android:name="ua.com.adr.android.tasklist.activities.TodoList"
            android:label="@string/title_activity_todo_list"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>



        </activity>


        <activity
            android:name="ua.com.adr.android.tasklist.activities.TodoDetails"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTop"
            >
        </activity>
        <activity
            android:name="ua.com.adr.android.tasklist.activities.FullImage"
            android:label="@string/title_activity_full_image"
            android:theme="@android:style/Theme.Dialog">
        </activity>
    </application>

</manifest>

